.formiga-reactstrap-form .formiga-reactstrap-form-group {
  text-align: left;
}

/**
 * fix inline
 */
 .formiga-reactstrap-form.inline {
  display: inline-block;
  vertical-align: top;
 }

.formiga-reactstrap-form.inline .formiga-reactstrap-form-group,
.formiga-reactstrap-form.inline .formiga-reactstrap-buttons,
.formiga-reactstrap-form-group.form-group.inline {
  margin-bottom :0;
  display: inline-block;
  vertical-align: top;
  padding-right: 1em;
}

.formiga-reactstrap-form.inline .formiga-reactstrap-buttons {
  margin-top: 0;
}

/**
 * fix for checkbox
 **/
.formiga-reactstrap-form-group .form-check-input,
.formiga-reactstrap-form-group .custom-switch {
  position: relative;
  left: 1em;
}

.formiga-reactstrap-form-group .custom-switch input,
.formiga-reactstrap-form-group .custom-switch label {
  cursor: pointer;
}

.formiga-reactstrap-form-group {
  .input-group-prepend {
    .input-group-addon.input-group-text {
      height: 100%;
    }
  }
}

.formiga-reactstrap-form-group.with-icon {
  .input-group-prepend {
    .input-group-addon {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .input-group {
    .form-control {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

/**
 fix for switches
 */
.formiga-reactstrap-form-group.form-check,
.formiga-reactstrap-form-group.form-switch {
  padding-left: unset !important;
  .custom-switch.custom-control  {
    display: flex;
    align-items: center;

    position: unset !important;
    left: unset !important;

    .form-check-input {
      float: unset !important;
      margin-left: unset !important;
      margin-top: -0.1em;
    }
    .custom-control-label {
      margin-left: 1.5em;
    }

  }
}
