@use "vars_override";


/**
 * label
 **/

 label.formiga-reactstrap-label {
  color: #524f4f;
  font-style: italic;
  font-weight: 500;
  padding-left: vars_override.$formiga-label-padding;
}

.formiga-reactstrap-description {
  color: #473939;
  font-size: 12px;
  padding-left: vars_override.$formiga-label-padding;
} 
