
.formiga-reactstrap-input-number-addon {
  cursor: pointer;
  display: flex;

  .formiga-reactstrap-input-number-incr {
    opacity: 1;

    &:hover {
      opacity: 0.75;
    }
  }

  &.read-only {
    cursor: 'not-allowed';
    
    .formiga-reactstrap-input-number-incr { 
      opacity: 0.25;
    }
  }

}






.formiga-reactstrap-float-sum {
  display: flex;
  overflow: hidden;
  white-space: nowrap;  

  .formiga-reactstrap-float-sum-box {
    align-self: center;  
    flex: 0 1  auto;
    width: auto;
    position: relative;
    margin-right: 0.5em;

    &.positive::before,
    &.negative::before {
      content: "+";
      //left: 1em;
      //position: relative;
      position: absolute;
      left: 0.5em;
      top: 0.35em;
      color: #a4a4a4;
      font-weight: bold;      
    }

    &.positive::before {
      content: "+";
    }
    &.negative::before {
      content: "-";
    }
    &.negative::before,
    &.negative input {
      color: #e77777;
    }


    input.formiga-reactstrap-float-sum-input {
      text-align: right;
      //width: auto;
      width: 100%;
      display: inline-block; 
      padding-left: 1.5em;  
    }

  }
  
  .formiga-reactstrap-float-sum-total {
    align-self: center;  

    color: #a4a4a4;
    vertical-align: middle;
    //padding-left: 0.75em;
  }  
}
.formiga-reactstrap-float-sum:not(.formiga-reactstrap-float-sum-modal) {
  .formiga-reactstrap-float-sum-total {

    &::before {
      content: " = ";
    }    
  }
}
.formiga-reactstrap-float-sum.formiga-reactstrap-float-sum-modal {
  .formiga-reactstrap-float-sum-total {

    padding-left: 0.75em;
    color: #011157;
    text-decoration: underline;
  }
}



.input-group-sm {
  .formiga-reactstrap-float-sum {
    .formiga-reactstrap-float-sum-box {
      &::before {   
        left: 0.5em;
        top: 0.175em;        
      } 
    }
  }
}

.input-group-lg {
  .formiga-reactstrap-float-sum {
    .formiga-reactstrap-float-sum-box {
      &::before {   
        left: 0.5em;
        top: 0.7em;        
      } 
    }
  }
}
